# Core
langchain==0.1.0
langchain-community==0.0.11
streamlit==1.29.0

# Hugging Face 
transformers==4.36.2
sentence-transformers==2.2.2 --no-deps 
datasets==2.14.6

# Vector DB 
faiss-cpu==1.7.4 --only-binary=:all: 

pandas==2.0.3
numpy==1.24.3