streamlit==1.29.0
pandas==2.2.2
transformers==4.51.3
tokenizers==0.21.1
torch==2.3.1
sentence-transformers==2.6.0
langchain==0.1.20
langchain-community==0.0.21
langchain-core==0.1.27
langchain-huggingface==0.0.3
pydantic>=2.6.1
numpy>=1.19.5
scikit-learn>=1.0.2
tqdm>=4.62.3
setuptools>=65.5.1
faiss-cpu>=1.7.4